/* Фон */

body {
    background-color: #f8f8f8;
}

/* Рамка картинок */

img {
    border: 2px solid #00a8e1;
}

img:focus{
    border: 2px solid #000;
}

/* Меню */

.menu li {
    font-style: italic;
    font-size: 20px;
    list-style: none;
}

.menu li a {
    color: #8b00ff;
}

.menu li a:hover{
    color: #1896FF;
}

.menu li a:active{
    color: red;
}

/* Заголовки */

.headings {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}


/* Краткое описание товара */

.short {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    
}

/* Полное описание товара */

.full {
    color: #484343;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: left;    
}

.sale li {
    font-style: oblique;
    font-size: 25px;
    list-style-image: url(../img/star_30.png);
    color: darkblue;
}

fieldset {
    width: 25%;
    
}

textarea {
    
    height: 200px;
    resize: none;
}

input, textarea {
    color: #6600CC;
    font-size: 20px;
    font-style: italic;
    font-weight: 250;
    line-height: 30px;
    margin: 5px;
    width: 95%;
    
    
}
input {
    height: 50px
}

/* Таблица */

table {

    border: 1px solid #000;
    border-collapse: collapse;
    
}
td {
    border: 1px solid #000;
    padding: 5px;
}