*{margin: 0; padding: 0;}
html,body{
    height: 100%;
}

.container{
    background: red;
    width: 50%;
    margin: 0 auto;
    min-height: 100%
}

.header{
    
}
           
.main{
    
}

.footer p {
    margin: 15px;
    float: right;
}